// styling for animation face
.svgPlace {
    text-align: center;
    svg {
        border: none;
    }
}
svg {
    // float: right;
    // width: 20%;
}
// svg {
//     transform: scale(.2) translateY(-200em); //this creates white space due to svg not being resized height width
// }
@keyframes fadeMovementUp {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }
    50% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
       opacity: 0; 
    }
}
#movementUp {
    animation-name: fadeMovementUp;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes fadeMovementDown {
    0%,50% {
        opacity: 0;
    }
    51% {
        opacity: 1;
        transform: translateY(0px);
    }
    70%, 100% {
        opacity: 0;
        transform: translateY(10px);
    }
}
#movementDown {
    animation-name: fadeMovementDown;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes bounceBrainDown {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }
    50% {
        opacity: 0;
        transform: translateY(0px);
    }
    51% {
        transform: translateY(0px);
        opacity: 1;
    }
    70%, 100% {
        transform: translateY(10px);
        opacity: 1;
    }
}
#comingDown {
    animation-name: bounceBrainDown;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.66, .49);
}
@keyframes bounceBrainUp {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }
    50% {
        transform: translateY(-10px);
        opacity: 1;
    }
    51% {
        transform: translateY(-10px);
        opacity: 0;
        }
    100% {
        transform: translateY(-10px);
        opacity: 0;
    }
}
#goingUp {
    animation-name: bounceBrainUp;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes wink {
    0%,70% {
        opacity: 1;
    }
    71%, 99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#eyesClosed path:last-of-type {
    opacity: 0;
    animation-name: wink;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(4, end);;
}
@keyframes open {

    0%, 70% {
        opacity: 0;
    }
    70.5%, 100% {
        opacity: 1;
    }
}
#eyeOpen g {
    animation-name: open;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(4, end);;
}
/*brain color for paths in #comingDown & #goingUp*/
.st0{
    fill:#EFA5EF;
} 
/*styling for text citation*/
.st3{display:none;enable-background:new    ;}
.st4{font-family:'HelveticaNeue-Bold';}
.st5{font-size:5px;}
/*end styling for text citation*/

// styling for animation bubble
#words {
    // position: absolute;
    // transform: scale(.2) translateY(-210em) translateX(60em);
    text {
        opacity: 1;
    }
    .bubble{fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;}
    .st1{
        display:inline;
    }
    .st2{
        display:inline;
    }
    .st3{font-family:'MyriadPro-Regular';}
    .st4{font-size:17px;}  

    @keyframes wordTable {
        0%, 74% {
            opacity: 0;
        }
        75%, 100% {
            opacity: 1;
        }
    }
    #table {
        animation-name: wordTable;
        animation-duration: 20s;
        animation-iteration-count: infinite;
    }
    @keyframes wordFloat {
        0%, 49% {
            opacity: 0;
        }
        50%, 74% {
            opacity: 1;
        }
        75%, 100% {
            opacity: 0;
        }
    }
    #float {
        animation-name: wordFloat;
        animation-duration: 20s;
        animation-iteration-count: infinite;
    }
    @keyframes wordFlex {
        0%, 24% {
            opacity: 0;
        }
        25%, 49% {
            opacity: 1;
        }
        50%, 100% {
            opacity: 0;
        }
    }
    #flex {
        animation-name: wordFlex;
        animation-duration: 20s;
        animation-iteration-count: infinite;
    }
    @keyframes wordGrid {
        0%, 24% {
            opacity: 1;
        }
        25%, 100% {
            opacity: 0;
        }
    }
    #grid {
        animation-name: wordGrid;
        animation-duration: 20s;
        animation-iteration-count: infinite;
    }
}